<div class="w-full h-screen bg-blue-300 ">
  <div class="w-full h-16 flex justify-between px-4 pt-2">
    <div class="w-auto flex">
      <i class='bx bx-left-arrow-alt text-4xl text-white text-center'></i>
    </div>
    <div  class="">
    </div>
  </div>

  <div class="w-full h-screen px-2">

    <div class="flex justify-between w-full h-14 rounded-lg bg-gray-50 py-3 px-2 ">
      <p class="text-justify text-lg font-semibold text-gray-700 ml-4">nombre de la tare</p>
      <i class='bx bx-dots-vertical-rounded text-3xl text-gray-600'></i>
    </div>

  </div>

</div>
