<div  class="flex w-full h-auto shadow-md border-md bg-white">
  <div class="flex flex-row py-2 px-2 items-center"> 
    <div class=" relative w-1/4">
      <div class="flex h-10 w-10 rounded-full bg-blue-400 justify-center pt-2 ">
          <p class="top-2 font-semibold text-white">j</p>
      </div>
    </div>
    <div class="reñative w-full pl-3 top-2" >
      <div   class="text-sm font-semibold">Jose David Gonzalez <i class='bx bxs-chevron-down text-gray-500'></i> </div>
      <span class="relative text-gray-500 font-semibold text-xs -top-2">josealiss21@gmail.com</span>
      
    </div>
    
   </div>
   <div  class="absolute top-3 right-3  w-10 h-10  flex justify-center items-center bg-white rounded-full focus:bg-gray-100 focus:ring focus:outline-none">
    <i class='bx bx-search text-3xl text-blue-500 text-center'></i>
  </div>
</div>
