<div class="w-full h-auto bg-white pt-4">
    <div class="bg-white  w-full h-auto flex justify-between px-4 mb-4">
      <div  class="w-auto flex">
        <i class='bx bx-sun text-2xl text-gray-500 text-center relative top-1 pr-2'></i>
        <p class="relative top-1 font-semibold text-gray-700">Mi dia</p>
      </div>
      <div  class="">
        <p class="relative text-gray-500 font-semibold text-xs top-1">1</p>
      </div>
    </div>

    <div class="bg-white  w-full h-auto flex justify-between px-4 mb-4">
      <div  class="w-auto flex">
        <i class='bx bx-star text-2xl text-pink-900 text-center relative top-1 pr-2'></i>
        <p class="relative top-1 font-semibold text-gray-700">Importante</p>
      </div>
      <div  class="">
        <p class="relative text-gray-500 font-semibold text-xs top-1">1</p>
      </div>
    </div>

    <div class="bg-white  w-full h-auto flex justify-between px-4 mb-4">
      <div  class="w-auto flex">
        <i class='bx bx-calendar text-2xl text-green-700 text-center relative top-1 pr-2'></i>
        <p class="relative top-1 font-semibold text-gray-700">Planeado</p>
      </div>
      <div  class="">
        
      </div>
    </div>

    <div class="bg-white  w-full h-auto flex justify-between px-4 mb-4">
      <div  class="w-auto flex">
        <i class='bx bx-user text-2xl text-green-400 text-center relative top-1 pr-2'></i>
        <p class="relative top-1 font-semibold text-gray-700">Asignado a mi</p>
      </div>
      <div  class="">
        
      </div>
    </div>

    <div class="bg-white  w-full h-auto flex justify-between px-4 mb-4">
      <div  class="w-auto flex">
        <i class='bx bx-home-heart text-2xl text-purple-600 text-center relative top-1 pr-2'></i>
        <p class="relative top-1 font-semibold text-gray-700">Tareas</p>
      </div>
      <div  class="">
        <p class="relative text-gray-500 font-semibold text-xs top-1">{{talks}}</p>
      </div>
    </div>
    
</div>
