<header class="bg-white border-lg border w-full fixed bottom-0 xl:top-0 xl:h-20 h-16 flex justify-between px-4">
  <div (click)="openModal('nuevo_grupo', 'crear')"  class="w-auto flex">
    <i class='bx bx-plus text-3xl text-blue-500 text-center'></i>
    <p class="relative top-1 font-semibold text-blue-500">Nueva lista</p>
  </div>
  <div  class="">
    <i (click)="openModal2('nueva_tarea', 'crear')"  class='bx bxs-layer-plus text-3xl text-blue-500 text-center'></i>
  </div>
</header>


<jw-modal id="nuevo_grupo">
  <div class="z-10 modal overflow-auto h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
    <section class="relative py-1 bg-blueGray-50 w-5/6">
      <div class="w-full w-full px-2 mx-auto ">
        <div class="rounded-t bg-white mb-0 px-4 py-6 ">
          
          <div class="bg-white  w-full h-auto flex justify-between mb-4">
            <div  class="w-auto flex">
              <i class='bx bx-list-plus text-2xl text-gray-500 text-center relative top-1 pr-2'></i>
              <p class="relative top-1 font-semibold text-gray-700">Nueva Lista</p>
            </div>
            <div (click)="closeModal('nuevo_grupo');"   class="">
              <i class='bx bx-x relative text-gray-900 font-semibold text-lg top-1'></i>
            </div>
          </div>
          <form  [formGroup]="grupoForm" (submit)="onGrupo(types)" >
          <div class="w-full h-auto py-2">
            
              <div class="w-full lg:w-6/12">
								<div class="relative w-full mb-3">
								  <input type="text" formControlName="name" class="shadow-md border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
								</div>
							  </div>
            
          </div>

          <div class="w-full h-auto">
            <div class="w-full flex justify-end w-5/6">
              <p (click)="closeModal('nuevo_grupo');" class="text-gray-700 font-semibold mr-2">cancelar</p>
              <p (click)="onGrupo(types)" class="text-blue-500 font-semibold" >crear lista</p>
            </div>
          </div>
        </form>

        </div>
      </div>
      </section>
  </div>

</jw-modal>

<jw-modal id="nueva_tarea">
  <div class="z-10 modal overflow-auto h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
    <section class="relative py-1 bg-blueGray-50 w-5/6">
      <div class="w-full w-full px-2 mx-auto ">
        <div class="rounded-t bg-white mb-0 px-4 py-6 ">
          
          <div class="bg-white  w-full h-auto flex justify-between mb-4">
            <div  class="w-auto flex">
              <i class='bx bx-list-plus text-2xl text-gray-500 text-center relative top-1 pr-2'></i>
              <p class="relative top-1 font-semibold text-gray-700">Nueva tarea</p>
            </div>
            <div (click)="closeModal('nueva_tarea');"   class="">
              <i class='bx bx-x relative text-gray-900 font-semibold text-lg top-1'></i>
            </div>
          </div>
          <form  [formGroup]="tareaForm" (submit)="onTalks(types)" >
          <div class="w-full h-auto py-2">
            
              <div class="w-full lg:w-6/12">
								<div class="relative w-full mb-3">
								  <input type="text" formControlName="name" class="shadow-md border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                  <input type="hidden" formControlName="description" >
								</div>
							  </div>
            
          </div>

          <div class="w-full h-auto">
            <div class="w-full flex justify-end w-5/6">
              <p (click)="closeModal('nueva_tarea');" class="text-gray-700 font-semibold mr-2">cancelar</p>
              <p (click)="onTalks(types)" class="text-blue-500 font-semibold" >crear tarea</p>
            </div>
          </div>
        </form>

        </div>
      </div>
      </section>
  </div>

</jw-modal>
